<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1>User Profile</h1>
	<a href="/home">Back</a> | 
	<a href="/logout">logout</a>
	
	<table>
		<tr>
			<td>ID: </td>
			<td></td>
		</tr>
		<br/>
		<tr>
			<td>Name:</td>
			<td></td>
		</tr>

	</table>


</body>
</html>