<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<fieldset style="width: 400px; height 400px">
		<h1>Travel Guide!</h1><br/>
		
		<a href="/user/profile">View Profile</a>|
		<a href="/user/adduser">Add user</a> | 
		<a href="/user/userList">UserList</a> | 
		<a href="/logout">logout</a>
	</fieldset>
</body>
</html>