<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1>Welcome Home!</h1>
	Name:	<%= name %> <br>
	Id:		<%= id %> <br>
	Age:	<%= age %><br>
	Another Object:	<%= anotherobj.test %><br>
</body>
</html>